.sidemenu {
    padding-top: 20px;
    padding-right: 1600px;
    padding-left: 10px;
}

.pagetitle {
    padding-top: 20px;
    padding-left: 10px;
}

.custom-table {
    position: absolute;
    top: 110px;
}

.custom-forms {
    width: 500%;
}

.file-button {
    padding-left: 375px;
    padding-top: 105px;
}