<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SPaaS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
    
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Guilhermeslucas/SPaaS">Contribute</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" style="color: aliceblue">Edson Borin</a>
      </form>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Create an Account</button>
      </form>
    </div>
</nav>

<div class="pagetitle">
<h2>Account Creation</h2>
</div>

<div class="container">
<div class="custom-table">
    <form>
            <div class="custom-forms">
            <div class="form-group">
                <label for="jobname">Email</label>
                <input  class="form-control" id="jobname" placeholder="Email you want to create your account">
            </div> 
            <div class="form-group">
                <label for="codeinput">Password</label>
                <input  class="form-control" id="codeinput" placeholder="The password you want to use">
            </div>
            <div class="form-group">
                <label for="codeinput"> Confirm your Password</label>
                <input  class="form-control" id="codeinput" placeholder="Please confirm your password">
            </div>
            <button type="submit" class="btn btn-primary">Create an Account</button>
            </div>
    </form>
</div>
</div>