<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">SPaaS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
  
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/Guilhermeslucas/SPaaS">Contribute</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a class="nav-link" style="color: aliceblue">{{ loggedMail }}</a>
    </form>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign out</button>
    </form>
  </div>
</nav>

<div class="pagetitle">
<h2>Tasks Manager</h2>
</div>

<div class="sidemenu">
<ul class="list-group">
  <a href="/tasksmanager"><li class="list-group-item">Tasks Management</li></a>
  <a href="/results"><li class="list-group-item">Flow Management</li></a>
  <a href="/definition"><li class="list-group-item">Results Management</li></a>
  <a href="/datamanager"><li class="list-group-item">Data Management</li></a>
  <a href="/toolsmanager"><li class="list-group-item">Tools Management</li></a>
</ul>
</div>
<div class="container">
<div class="custom-table">
  <form>
          <div class="custom-forms">
          <h3>Tool</h3> 
          <div class="form-group">
              <label for="scriptinput">Tool name</label>
              <select class="form-control" [(ngModel)]="selectedTool" name="selectedTool" (blur)="loadParameters()"> 
                <option *ngFor="let toolName of toolNames" [value]="toolName" >{{ toolName }}</option>
              </select>
              <div class="form-group" *ngFor="let parameter of parameters">
                <label for="{{ parameter.name }}">{{ parameter.name }}</label>
                <input  class="form-control"  placeholder="{{ parameter.description }}" [(ngModel)]="selectedParameters[parameter.name]" name="{{ parameter.name }}">
              </div>
          </div>
          <h3>Data</h3>
          <select class="form-control" [(ngModel)]="selectedData" name="selectedData" >
            <option *ngFor="let dataName of dataNames" [value]="dataName" >{{ dataName }}</option>
          </select>
          </div>
          <div style="padding-top: 10px">
            <button class="btn btn-primary" (click)="submitTask()">Submit Task</button>
          </div>
  </form>
</div>
</div>

