<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SPaaS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
    
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Guilhermeslucas/SPaaS">Contribute</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" style="color: aliceblue">Please Log in</a>
      </form>
      <form class="form-inline my-2 my-lg-0">
          <a class="nav-link" href="/accountcreation">Create an accont</a>
      </form>
    </div>
</nav>

<div class="pagetitle">
<h2>Login</h2>
</div>

<div class="container">
<div class="custom-table">
    <form>
            <div class="custom-forms">
            <div class="form-group">
                <label for="jobname">Email</label>
                <input  class="form-control" id="jobname" placeholder="The email used to create the account" [(ngModel)]="email" name="email">
            </div> 
            <div class="form-group">
                <label for="codeinput">Password</label>
                <input  class="form-control" id="codeinput" placeholder="Your password"  [(ngModel)]="pass" name="pass" type="password">
            </div>
            <button type="submit" class="btn btn-primary" (click)="onSubmit()">Login</button>
            <p>{{ alertMessage }}</p>
            </div>
    </form>
</div>
</div>