<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">SPaaS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
    
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Guilhermeslucas/SPaaS">Contribute</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="nav-link" style="color: aliceblue">Edson Borin</a>
      </form>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign out</button>
      </form>
    </div>
</nav>
  <div class="pagetitle">
      <h2>Status</h2>
  </div>
  
  <div class="sidemenu">
      <ul class="list-group">
          <a href="/definiton"><li class="list-group-item">Definition</li></a>
          <a href="/status"><li class="list-group-item">Status</li></a>
          <a href="/results"><li class="list-group-item">Results</li></a>
      </ul>
  </div>
  
  <div class="container">
      <div class="custom-table">
          <form>
                  <div class="custom-forms">
                  <div class="form-group">
                      <label for="jobname">Job Name</label>
                      <input  class="form-control" id="jobname" placeholder="The name yout want for your job">
                  </div> 
                  <div class="form-group">
                      <label for="codeinput">Source Code</label>
                      <input  class="form-control" id="codeinput" placeholder="Place your code here">
                  </div>
                  <div class="form-group">
                      <label for="scriptinput">Running Script</label>
                      <input  class="form-control" id="scriptinput" placeholder="Place the running script here">
                  </div>
                  <div class="form-group">
                      <label for="datainput">Job Data</label>
                      <input class="form-control" id="datainput" placeholder="Place the data for the job here">
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
          </form>
      </div>
  </div>